.commonFont {
  font-family: var(--font-family-main);
  font-size: var(--font-size-paragraph-l);
  line-height: 1.131;
  letter-spacing: var(--letter-spacing-paragraph-l);
  text-transform: none;
  font-stretch: var(--font-stretch-normal);
  font-weight: var(--font-weight-light);
}

.main {
  composes: commonFont;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.content {
  z-index: 0;
  margin-top: 200px;
  width: 100%;
  color: black;
  padding: 10px;
  font: inherit;
}



@media (min-width: 600px) and (max-width: 1200px) {
  .content {
    margin-top: 110px;
  }
  .logo {
    display: none;
  }

  .header {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .content {
    margin-top: 70px;
  }
  .logo {
    display: none;
  }
}
